.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #05445E;
    padding: 1em;
}

h2 {
    color: #B1D4E0;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a{
    color: #B1D4E0;
    text-decoration: none;
}
