input {
    caret-color: red;
}

.meuInput::-webkit-inner-spin-button,
.meuInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formCard {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
}


